Repository Nuand/bladeRF, pull requests merged in 2018-03, with the labels that each got.

#550 Fix mutex handling for Windows in libusb backend.
  host/libraries/libbladeRF/src/backend/usb/libusb.c
Labels: bug, host, windows

#547 host: libbladeRF_bindings: matlab: update libbladeRF_proto.m
  host/libraries/libbladeRF_bindings/matlab/libbladeRF_proto.m
Labels: bindings, host

#551 host: test: fix compile errors on test_config_file
  host/libraries/libbladeRF_test/test_config_file/src/main.c
Labels: bug, host
